@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
    --font-display: "Rubik", sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #FF9324;
}

@layer base {
    html {
        font-family: var(--font-display);
    }
    body {
        background-color: aliceblue;
    }
}